.welcomeBannerThemeContainer {
    -fx-background-image: url("../image/banner_theme.png");
    -fx-border-image-repeat: no-repeat;
    -fx-background-size: cover;
}

.progressBarAppLoading {
    -fx-accent: #197a09;
}

.appThemeContainer {
    -fx-background-image: url("../image/banner_theme.png");
    -fx-border-image-repeat: no-repeat;
    -fx-background-size: contain;
}
